@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #FF7043;
    --primary-dark: #BF360C;
    --primary-light: #FFCCBC;
    --white: #FAFAFA;
    --black: #263238;
}

* {
    background: transparent;
    color: var(--black);
    font-family: Roboto, sans-serif;
}

html, body {
    margin: 0;
    height: 100%;
    background: var(--white);
}